@model IEnumerable<Domain.Entities.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 @using (Html.BeginForm("Index", "Documents", FormMethod.Post))
  {
      <span>Nom Document:</span>
      @Html.TextBox("searchString")
      <input type="submit" value="Search"/>
  }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbEmprunts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empruntable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emprunte)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbEmprunts)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Empruntable)*@
                @Html.CheckBoxFor(modelItem => item.Empruntable, new { @disabled = "disabled" })
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Empruntable)*@
                @Html.CheckBoxFor(modelItem => item.Emprunte, new { @disabled = "disabled" })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Key">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Key">Delete</a> |
                @if (item.Empruntable)
                {
                    <a asp-action="Emprunter" asp-route-id="@item.Key">Emprunter</a>
                }
                else
                {
                    <a asp-action="Rendre" asp-route-id="@item.Key">Rendre</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
